---

* 코드를 작성 후 "Shift + Enter"를 누르거나, 상단의 Run을 클릭하면 코드가 실행 된다. 

---

# 데이터 불러오기

**예제1** 분석할 데이터 특성을 파악하고, 저장하여라. 

(1) 교육통계서비스(KESS)에서 '학교/학과별 데이터셋'의 데이터를 받아서 데이터를 살펴보아라.  

https://kess.kedi.re.kr/index 알림$\cdot$서비스 > 주요요청자료 > 학교/학과별 데이터셋 > 유$\cdot$초등$\cdot$중등 > 다운로드(상반기 - 2020)

(2) Excel 데이터의 첫번째 시트를 'data.csv'로 저장하여라.

**예제2** numpy를 np라는 이름으로, pandas를 pd라는 이름으로 불러오자.

In [1]:
import pandas as pd
import numpy as np

**예제3** 'data.csv'파일의 14번째 열부터 data라는 이름으로 불러오자.

# 데이터 선택하기 

**예제4** data의 칼럼을 출력하여라.

**예제5** '시도', '행정구', '학교급', '학교명','학생수_총계_계', '교원수_총계_계'열을 선택하여 data에 할당하여라.

# 유일한 값 출력하기
 
  |   활용법  |   설명   |
  |:--------:|:--------:|
  |   데이터프레임['열이름'].unique()    |   데이터프레임의 해당 열의 값을 출력한다. 단, 중복되지 않은 유일한 값을 출력한다. |
  
**예제6** '학교급'열의 값을 확인하여라.

**문제1** 다음의 코드를 작성하여라. 

(1) '시도'열의 값을 확인하여라.

(2) '행정구'열의 값을 확인하여라.

**예제7** data의 '학교급'이 '중학교'인 값만 선택하여 df에 할당하여라.

**문제2** df의 '시도'가 '부산'인 값만 선택하여 df에 할당하여라.

# 데이터프레임의 칼럼명 바꾸기

  |   활용법  |   설명   |
  |:--------:|:--------:|
  |   데이터프레임.rename(columns={A : A'})  |  데이터프레임의 칼럼명을 A에서 A'로 바꾼다. |

**예제8** df의 열의 이름을 '학생수_총계_계'에서 '학생수'로, '교원수_총계_계'에서 '교원수'로 바꾸어라.

# 데이터프레임의 정보 확인하기

 |   활용법  |   설명   |
 |:--------:|:--------:|
 |   데이터프레임.head() |  데이터프레임의 처음 5개의 행을 확인한다. |
 |   데이터프레임.info()  |  데이터프레임의 정보를 확인한다. |
 |   데이터프레임.shape  |  데이터프레임의 크기를 확인한다. |

**예제9** 다음의 코드를 작성하여라. 

(1) df의 처음 5개의 행을 확인하여라.

(2) df의 정보를 확인하여라.

# 데이터의 타입 바꾸기

 |   활용법  |   설명   |
 |:--------:|:--------:|
 |   데이터프레임.str.replace(a, b) |  a 값을 b로 바꾼다. |
 |   astype(type)  |  데이터 타입을 변경한다. |


**예제10** 다음을 코드로 확인하여라. 

(1) df의 '학생수'의 type을 int64로 바꾸어라.

(2) df의 정보를 확인하여라.

# 그룹별로 계산하기

 |   활용법  |   설명   |
 |:--------:|:--------:|
 | 데이터프레임.groupby('열이름').sum() |  해당열을 기준으로 데이터를 집계하여 합을 구한다.   |
 | 데이터프레임.groupby('열이름').count() |  해당열을 기준으로 데이터를 집계하여 개수을 구한다.   |
 | 데이터프레임.reset_index() | 데이터프레임의 인덱스를 초기화 한다. 기존의 인덱스가 하나의 열로 생성된다. | 


**예제11** 다음의 코드를 작성하여라. 

(1) df의 '행정구'가 같은 열들의 '학생수'와 '교원수'의 합을 구하여 df_1라 하여라.

(2) 인덱스를 데이터열에 추가하여라.

(3) df_1의 처음 5개의 행을 확인하여라.

**문제3** 다음의 코드를 작성하여라. 

(1) df의 '행정구'가 같은 열들의 '학교명'의 개수를 세어 df_2라 하여라.

(2) 인덱스를 데이터열에 추가하여라.

(3) df_2의 처음 5개의 행을 확인하여라.

# 데이터프레임 합치기

 |   활용법  |   설명   |
 |:--------:|:--------:|
 | pandas.merge(왼쪽_데이터프레임, 오른쪽_데이터프레임, on='열이름') |  두 데이터프레임을 열이름을 기준으로 합친다.|

**예제12** '행정구'를 기준으로 df_1과 df_2를 합하여라.

# 시각화하기

 |   활용법  |   설명   |
 |:--------:|:--------:|
 | matplotlib.pyplot.rcParams['font.family'] = '글자체 이름' | 해당 글자체로 설정한다. | 
 | seaborn.pointplot(data=데이터, x='열이름', y ='열이름') | 꺽은선 그래프를 그린다. | 
 | seaborn.barplot(data=데이터, x='열이름', y ='열이름') | 막대 그래프를 그린다. | 
 | ax_k=fig.add_subplot(mnk) | m행 n열의 배열의 k번째 자리에 해당 그래프를 그린다. 이때, 그래프의 옵션에 ax = ax_k를 넣는다.| 
 | 데이터프레임.plot(kind='pie', autopct='%1.nf%%') | 비율 그래프를 그린다. 단, 확률을 소수점 n자리까지 표현한다. |  

**예제13** matplotlib.pyplot을 plt라는 이름으로 불러오자. 단, 그래프의 한글이 깨짐을 방지하기 위하여 맑은고딕체를 설정하여라.

In [2]:
import matplotlib.pyplot as plt

plt.rcParams['font.family'] = 'Malgun Gothic'

**문제4** gu_df의 꺽은선 그래프를 그려라.

**예제14** 다음의 코드를 작성하여라. 

(1) seaborn을 sns이라는 이름으로 불러오자.

In [3]:
import seaborn as sns

(2) 행정구별 학교수의 꺽은선 그래프를 그려라. 단, 그래프의 크기는 12 * 8로 설정하여라.

**문제5** 다음의 코드를 작성하여라. 

(1) 행정구별 학교수의 막대 그래프를 그려라. 단, 그래프의 크기는 12 * 8로 설정하여라.

(2) 행정구별 학생수의 막대 그래프를 그려라. 단, 그래프의 크기는 12 * 8로 설정하여라.

**예제15** 행정구별 학교수, 학생수, 교원수를 1열 3행의 그래프로 그려라. 단, 그래프의 크기는 12 * 12로 설정하여라.

**예제16** 행정구별 학생수의 비율 그래프를 그려라. 단, 그래프의 크기는 10 * 10로 설정하여라.

**문제6** 행정구별 학교수의 비율 그래프를 그려라. 단, 그래프의 크기는 10 * 10로 설정하여라.